<mark>LIMPIEZA DE DATOS (1 FASE)

In [292]:
#Importamos librerias
import pandas as pd
import numpy as np
import ast

In [293]:
#Convertimos datos en dataframe
credits = pd.read_csv('credits.csv',encoding='UTF-8')

In [294]:
#Convertimos datos en dataframe
movies = pd.read_csv('movies_dataset.csv', encoding='UTF-8')

C:\Users\User\AppData\Local\Temp\ipykernel_11272\218150687.py:2: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies = pd.read_csv('movies_dataset.csv', encoding='UTF-8')

In [295]:
# estableciendo como 0 la cantidad maxima de columnas para visualizar todas
pd.options.display.max_columns = 0

In [296]:
# asignando la porción a trabajar del df
belongs = pd.DataFrame(movies['belongs_to_collection'])

In [297]:
#convirtiendo el tipo de dato a string
belongs['belongs_to_collection'] = belongs['belongs_to_collection'].astype('string')

In [298]:
#Separando el texto de la columna en varias columnas
belongs = belongs['belongs_to_collection'].str.split(pat =',',expand = True)

In [299]:
#Renombrando las columnas a Usar
belongs = belongs.rename(columns = {0:'id_belongs',1:'name_belongs',2:'poster_path_belongs',3:'backdrop_path_belongs'})

In [300]:
#reeemplazando los caracteres del df

belongs['id_belongs'] = belongs['id_belongs'].str.replace("{'id':","")
belongs['name_belongs'] = belongs['name_belongs'].str.replace("'name':","")
belongs['name_belongs'] = belongs['name_belongs'].str.replace("name:","")
belongs['name_belongs'] = belongs['name_belongs'].str.replace("'","")

C:\Users\User\AppData\Local\Temp\ipykernel_11272\2639462021.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  belongs['id_belongs'] = belongs['id_belongs'].str.replace("{'id':","")

In [301]:
#eliminando columnas 4 y 5
belongs = belongs.drop([4,5], axis=1)

In [302]:
#uniendo los data frames
movies= pd.concat([movies, belongs], axis=1)
movies = movies.drop(['belongs_to_collection'], axis= 1)

In [303]:
# trabajando con companies
product_companies = pd.DataFrame(movies['production_companies'])

In [304]:
#reemplazando caracteres

product_companies['production_companies'] = product_companies['production_companies'].astype('string')

caracteres = "'1234567890}{:[]"
for i in caracteres:
    product_companies['production_companies'] = product_companies['production_companies'].str.replace(i,"")

product_companies['production_companies'] = product_companies['production_companies'].str.replace("name","")
product_companies['production_companies'] = product_companies['production_companies'].str.replace("id","")

C:\Users\User\AppData\Local\Temp\ipykernel_11272\1769613496.py:7: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  product_companies['production_companies'] = product_companies['production_companies'].str.replace(i,"")

In [305]:
#Convirtiendo en lista
product_companies = pd.Series(product_companies['production_companies']).str.replace('  ,  ','').str.split(',')

In [306]:
#uniendo los dataframe
movies = movies.drop(['production_companies'],axis=1)
movies= pd.concat([movies,product_companies],axis=1)

In [307]:
#convirtiendo en df  - str la columna genres
genres = pd.DataFrame(movies['genres'])
genres['genres'] = genres['genres'].astype('string')

In [308]:
# reemplazando valores
caracteres = "'1234567890}{:[]"
for i in caracteres:
    genres['genres'] = genres['genres'].str.replace(i,"")

genres['genres'] = genres['genres'].str.replace("id , name","")

C:\Users\User\AppData\Local\Temp\ipykernel_11272\1353414443.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  genres['genres'] = genres['genres'].str.replace(i,"")

In [309]:
#convirtiendo en lista
genres = pd.Series(genres['genres']).str.split(',')

In [310]:
#uniendo los dataframes
movies = movies.drop(['genres'], axis=1)
movies = pd.concat([movies,genres],axis=1)

In [311]:
#convirtiendo en df  - str la columna production_countries
countries = pd.DataFrame(movies['production_countries'])
countries['production_countries'] = countries['production_countries'].astype('string')

# reemplazando valores
caracteres = "'1234567890}{:[]_"
for i in caracteres:
    countries['production_countries'] = countries['production_countries'].str.replace(i,"")

countries['production_countries'] = countries['production_countries'].str.replace("id , name","")
countries['production_countries'] = countries['production_countries'].str.replace("iso","")

countries['production_countries'] = countries['production_countries'].str.replace("name","")
countries['production_countries'] = countries['production_countries'].str.split(',')
countries['production_countries']

C:\Users\User\AppData\Local\Temp\ipykernel_11272\1790418061.py:8: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  countries['production_countries'] = countries['production_countries'].str.replace(i,"")

0        [ US,   United States of America]
1        [ US,   United States of America]
2        [ US,   United States of America]
3        [ US,   United States of America]
4        [ US,   United States of America]
                       ...
45461                        [ IR,   Iran]
45462                 [ PH,   Philippines]
45463    [ US,   United States of America]
45464                      [ RU,   Russia]
45465              [ GB,   United Kingdom]
Name: production_countries, Length: 45466, dtype: object

In [312]:
#iterando para seleccionar solo las iniciales del pais
for isl1 in range(len(countries['production_countries'])):
    lista_df_paises = []
    if type(countries['production_countries'][isl1]) == list:
        for nsl1 in range(len(countries['production_countries'][isl1])):
            if nsl1%2 == 0:
                lista_df_paises.append(countries['production_countries'][isl1][nsl1])
        countries['production_countries'][isl1] = lista_df_paises[::]

In [313]:
countries['production_countries']

0        [ US]
1        [ US]
2        [ US]
3        [ US]
4        [ US]
         ...
45461    [ IR]
45462    [ PH]
45463    [ US]
45464    [ RU]
45465    [ GB]
Name: production_countries, Length: 45466, dtype: object

In [314]:
#uniendo datframes
movies = movies.drop(['production_countries'],axis=1) 
movies = pd.concat([movies, countries], axis=1)

In [315]:
#convirtiendo en df  - str la columna languages
lenguages = pd.DataFrame(movies['spoken_languages'])
lenguages['spoken_languages'] = lenguages['spoken_languages'].astype('string')

# reemplazando valores
caracteres = "'1234567890}{:[]_'"
for i in caracteres:
    lenguages['spoken_languages']  = lenguages['spoken_languages'] .str.replace(i,"")

lenguages['spoken_languages'] = lenguages['spoken_languages'].str.replace("iso","")

lenguages['spoken_languages'] = lenguages['spoken_languages'].str.replace("name","")

C:\Users\User\AppData\Local\Temp\ipykernel_11272\526402776.py:8: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  lenguages['spoken_languages']  = lenguages['spoken_languages'] .str.replace(i,"")

In [316]:
# convirtiendo en lista
lenguages = pd.Series(lenguages['spoken_languages']).str.replace(' ', '').str.split(',')
lenguages

0                      [en, English]
1        [en, English, fr, Français]
2                      [en, English]
3                      [en, English]
4                      [en, English]
                    ...
45461                    [fa, فارسی]
45462                         [tl, ]
45463                  [en, English]
45464                             []
45465                  [en, English]
Name: spoken_languages, Length: 45466, dtype: object

In [317]:
#iterando para seleccionar solo las iniciales del idioma
for isl1 in range(len(lenguages)):
    lista_df_spoken_languages = []
    if type(lenguages[isl1]) == list:
        for nsl1 in range(len(lenguages[isl1])):
            if nsl1%2 == 0:
                lista_df_spoken_languages.append(lenguages[isl1][nsl1])
        lenguages[isl1] = lista_df_spoken_languages[::]

In [318]:
#eliminando la columna spoken_languages del df original
movies= movies.drop(['spoken_languages'], axis=1)

In [319]:
#concatenando los df
movies = pd.concat([movies,lenguages], axis=1)

<mark>#Valores Nulos revenue y budget

In [320]:
#sustituyendo los valores nulos por 0
movies['revenue'] = movies['revenue'].fillna(0)
movies['budget'] = movies['budget'].fillna(0)

<mark>#valores nulos del campo release date deben eliminarse

In [321]:
#eliminando valores nulos
movies = movies.dropna(subset=['release_date'])
movies['release_date'].isnull().any()

False

<mark>De haber fechas, deberán tener el formato AAAA-mm-dd, además deberán crear la columna release_year donde extraerán el año de la fecha de estreno.

In [322]:
#insertando una columna en df con el largo de release_date
movies['len'] = movies['release_date'].str.len()

In [323]:
#eliminando los datos de release_date con largo menor a 10
movies.drop(movies[(movies['len'] < 10)].index, inplace=True)

In [324]:
#convirtiendo budget a float
movies['budget'] = movies['budget'].astype('float64')

In [325]:
#importando libreria datetime
from datetime import datetime, timedelta

#dando formato a columna release_date como fecha
movies['release_date'] = movies['release_date'].apply(lambda _: datetime.strptime(_,"%Y-%m-%d"))

In [326]:
#insertando columan con año
movies['Year'] = movies['release_date'].dt.year

In [327]:
#calculando la columna return
movies['return'] = movies['revenue'] / movies['budget']

In [328]:
#reemplazando valores Nan
movies['return'].replace(np.nan,0, inplace=True)

In [329]:
#reemplazando valores inf
movies['return'].replace(np.inf,0, inplace=True)

<mark>Eliminar las columnas que no serán utilizadas, video,imdb_id,adult,original_title,poster_path y homepage.

In [330]:
#Eliminando columnas del df
movies.drop(['video','imdb_id','adult','original_title','poster_path','homepage','len',
             'poster_path_belongs','backdrop_path_belongs','id_belongs'],axis=1, inplace= True)

In [331]:
#Ordenando columnas del df
movies = movies.loc[:,['id',
                                 'title',
                                 'name_belongs',
                                 'overview',
                                 'genres',
                                 'original_language',
                                 'spoken_languages',
                                 'popularity',
                                 'release_date',
                                 'Year',
                                 'production_companies',
                                 'production_countries',
                                 'runtime',
                                 'status',
                                 'tagline',
                                 'vote_average',
                                 'vote_count',
                                 'budget',
                                 'revenue', 
                                 'return']]

In [332]:
# cambiando el tipo de dato
movies = movies.astype({'id':'int', 'popularity':'float', 'budget':'float'})

Trabajando con credits

In [333]:
#convirtiendo a tipo lista la columnas crew
credits['crew'] = credits['crew'].apply(ast.literal_eval)

In [334]:
#separando solo job y name
credits_job =  credits.explode('crew')['crew'].apply(pd.Series)[['job', 'name']]

In [335]:
#uniendo la columna id del df credits al credits_job
credits_job['id'] = credits['id']

In [336]:
#filtrando solo por el tipo "Director"
credits_director = credits_job[credits_job['job'] == 'Director']

In [337]:
#convirtiendo todo en lista, agrupando
credits_director = credits_director.groupby('id')['name'].apply(lambda x: list(x)).to_frame().reset_index()

In [338]:
#Uniendo los dataframes movies y director
df_final= pd.merge(movies, credits_director, how='left' , on='id')
df_final

           id                        title  ...     return                name
0         862                    Toy Story  ...  12.451801     [John Lasseter]
1        8844                      Jumanji  ...   4.043035      [Joe Johnston]
2       15602             Grumpier Old Men  ...   0.000000     [Howard Deutch]
3       31357            Waiting to Exhale  ...   5.090760   [Forest Whitaker]
4       11862  Father of the Bride Part II  ...   0.000000     [Charles Shyer]
...       ...                          ...  ...        ...                 ...
45371   30840                   Robin Hood  ...   0.000000        [John Irvin]
45372  111109          Century of Birthing  ...   0.000000          [Lav Diaz]
45373   67758                     Betrayal  ...   0.000000    [Mark L. Lester]
45374  227506             Satan Triumphant  ...   0.000000  [Yakov Protazanov]
45375  461257                     Queerama  ...   0.000000     [Daisy Asquith]

[45376 rows x 21 columns]

In [340]:
#generando un dataset final
df_final = movies.to_csv('df_final_movies_.csv')