<mark>LIMPIEZA DE DATOS (1 FASE)

In [2]:
#Importamos librerias
import pandas as pd
import numpy as np

In [3]:
#Convertimos datos en dataframe
credits = pd.read_csv('credits.csv',encoding='UTF-8')

In [4]:
#Convertimos datos en dataframe
movies = pd.read_csv('movies_dataset.csv', encoding='UTF-8')

C:\Users\User\AppData\Local\Temp\ipykernel_11524\218150687.py:2: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  movies = pd.read_csv('movies_dataset.csv', encoding='UTF-8')

In [5]:
# estableciendo como 0 la cantidad maxima de columnas para visualizar todas
pd.options.display.max_columns = 0

In [6]:
# asignando la porci√≥n a trabajar del df
belongs = pd.DataFrame(movies['belongs_to_collection'])

In [7]:
#convirtiendo el tipo de dato a string
belongs['belongs_to_collection'] = belongs['belongs_to_collection'].astype('string')

In [8]:
#Separando el texto de la columna en varias columnas
belongs = belongs['belongs_to_collection'].str.split(pat =',',expand = True)

In [9]:
#Renombrando las columnas a Usar
belongs = belongs.rename(columns = {0:'id_belongs',1:'name_belongs',2:'poster_path_belongs',3:'backdrop_path_belongs'})

In [10]:
#reeemplazando los caracteres del df

belongs['id_belongs'] = belongs['id_belongs'].str.replace("{'id':","")
belongs['name_belongs'] = belongs['name_belongs'].str.replace("'name':","")
belongs['name_belongs'] = belongs['name_belongs'].str.replace("name:","")
belongs['name_belongs'] = belongs['name_belongs'].str.replace("'","")

C:\Users\User\AppData\Local\Temp\ipykernel_11524\2639462021.py:3: FutureWarning: The default value of regex will change from True to False in a future version.
  belongs['id_belongs'] = belongs['id_belongs'].str.replace("{'id':","")

In [11]:
#eliminando columnas 4 y 5
belongs = belongs.drop([4,5], axis=1)

In [12]:
#uniendo los data frames
movies= pd.concat([movies, belongs], axis=1)
movies = movies.drop(['belongs_to_collection'], axis= 1)

In [13]:
# trabajando con companies
product_companies = pd.DataFrame(movies['production_companies'])

In [14]:
#reemplazando caracteres

product_companies['production_companies'] = product_companies['production_companies'].astype('string')

caracteres = "'1234567890}{:[]"
for i in caracteres:
    product_companies['production_companies'] = product_companies['production_companies'].str.replace(i,"")

product_companies['production_companies'] = product_companies['production_companies'].str.replace("name","")
product_companies['production_companies'] = product_companies['production_companies'].str.replace("id","")

C:\Users\User\AppData\Local\Temp\ipykernel_11524\1769613496.py:7: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  product_companies['production_companies'] = product_companies['production_companies'].str.replace(i,"")

In [15]:
#Convirtiendo en lista
product_companies = pd.Series(product_companies['production_companies']).str.replace('  ,  ','').str.split(',')

In [16]:
#uniendo los dataframe
movies = movies.drop(['production_companies'],axis=1)
movies= pd.concat([movies,product_companies],axis=1)

In [17]:
#convirtiendo en df  - str la columna genres
genres = pd.DataFrame(movies['genres'])
genres['genres'] = genres['genres'].astype('string')

In [18]:
# reemplazando valores
caracteres = "'1234567890}{:[]"
for i in caracteres:
    genres['genres'] = genres['genres'].str.replace(i,"")

genres['genres'] = genres['genres'].str.replace("id , name","")

C:\Users\User\AppData\Local\Temp\ipykernel_11524\1353414443.py:4: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  genres['genres'] = genres['genres'].str.replace(i,"")

In [19]:
#convirtiendo en lista
genres = pd.Series(genres['genres']).str.split(',')

In [20]:
#uniendo los dataframes
movies = movies.drop(['genres'], axis=1)
movies = pd.concat([movies,genres],axis=1)

In [21]:
#convirtiendo en df  - str la columna production_countries
countries = pd.DataFrame(movies['production_countries'])
countries['production_countries'] = countries['production_countries'].astype('string')

# reemplazando valores
caracteres = "'1234567890}{:[]_"
for i in caracteres:
    countries['production_countries'] = countries['production_countries'].str.replace(i,"")

countries['production_countries'] = countries['production_countries'].str.replace("id , name","")
countries['production_countries'] = countries['production_countries'].str.replace("iso","")

countries['production_countries'] = countries['production_countries'].str.replace("name","")

C:\Users\User\AppData\Local\Temp\ipykernel_11524\128553588.py:8: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  countries['production_countries'] = countries['production_countries'].str.replace(i,"")

In [22]:
#creando lista con las abreviaturas de los paises
lista_paises = ['AD,','AE,','AF,','AG,','AI,','AL,','AM,','AN,','GB,','AO,','AQ,','AR,','AS,','AT,','AU,','AW,','AZ,','BA,','BB,','BD,','BE,','BF,','BG,','BH,','BI,','BJ,','BM,','BN,','BO,','BR,','BT,','BS,','BV,','BW,','BY,','BZ,','CA,','CC,','CD,','CF,','CG,','CH,','CI,','CK,','CL,','CM,','CN,','CO,','CR,','CS,','CU,','CV,','CX,','CY,','CZ,','DE,','DJ,','DK,','DM,','DO,','DZ,','EC,','EE,','EG,','EH,','ER,','ES,','ET,','FI,','FJ,','FK,','FM,','FO,','FR,','GA,','GD,','GE,','GF,','GG,','GH,','GI,','GL,','GM,','GN,','GP,','GQ,','GR,','GS,','GT,','GU,','GW,','GY,','HK,','HM,','HN,','HR,','HT,','HU,','ID,','IE,','IL,','IM,','IN,','IO,','IQ,','IR,','IS,','IT,','JM,','JE,','JO,','JP,','KE,','KG,','KH,','KI,','KM,','KN,','KP,','KR,','KW,','KY,','KZ,','LA,','LB,','LC,','LI,','LK,','LR,','LS,','LT,','LU,','LV,','LY,','MA,','MC,','MD,','MG,','MK,','MH,','ML,','MM,','MN,','MO,','MP,','MQ,','MR,','MS,','MT,','MU,','MV,','MW,','MX,','MY,','MZ,','NA,','NC,','NE,','NF,','NG,','NI,','NL,','NO,','NP,','NR,','NT,','NU,','NZ,','OM,','PA,','PE,','PF,','PG,','PH,','PK,','PL,','PM,','PN,','PR,','PS,','PT,','PW,','PY,','QA,','RE,','RO,','RU,','RW,','SA,','SB,','SC,','SD,','SE,','SG,','SH,','SI,','SJ,','SK,','SL,','SM,','SN,','SO,','SR,','SU,','ST,','SV,','SY,','SZ,','TC,','TD,','TF,','TG,','TH,','TJ,','TK,','TM,','TN,','TO,','TP,','TR,','TT,','TV,','TW,','TZ,','UA,','UG,','UK,','UM,','US,','UY,','UZ,','VA,','VC,','VE,','VG,','VI,','VN,','VU,','WF,','WS,','YE,','YT,','YU,','ZA,','ZM,','ZR,','ZW,'
]

In [23]:
# reemplazando valores de abreviaturas paises
for i in lista_paises:
    countries['production_countries'] = countries['production_countries'].str.replace(i,"")

In [24]:
#convirtiendo en lista
countries = pd.Series(countries['production_countries'] ).str.split(',')

In [25]:
#uniendo datframes
movies = movies.drop(['production_countries'],axis=1) 
movies = pd.concat([movies, countries], axis=1)

In [26]:
#convirtiendo en df  - str la columna languages
lenguages = pd.DataFrame(movies['spoken_languages'])
lenguages['spoken_languages'] = lenguages['spoken_languages'].astype('string')

# reemplazando valores
caracteres = "'1234567890}{:[]_'"
for i in caracteres:
    lenguages['spoken_languages']  = lenguages['spoken_languages'] .str.replace(i,"")

lenguages['spoken_languages'] = lenguages['spoken_languages'].str.replace("iso","")

lenguages['spoken_languages'] = lenguages['spoken_languages'].str.replace("name","")

C:\Users\User\AppData\Local\Temp\ipykernel_11524\526402776.py:8: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  lenguages['spoken_languages']  = lenguages['spoken_languages'] .str.replace(i,"")

In [27]:
# convirtiendo en lista
lenguages = pd.Series(lenguages['spoken_languages']).str.replace(' ', '').str.split(',')
lenguages

0                      [en, English]
1        [en, English, fr, Fran√ßais]
2                      [en, English]
3                      [en, English]
4                      [en, English]
                    ...
45461                    [fa, ŸÅÿßÿ±ÿ≥€å]
45462                         [tl, ]
45463                  [en, English]
45464                             []
45465                  [en, English]
Name: spoken_languages, Length: 45466, dtype: object

In [28]:
#iterando para seleccionar solo las iniciales del idioma
for isl1 in range(len(lenguages)):
    lista_df_spoken_languages = []
    if type(lenguages[isl1]) == list:
        for nsl1 in range(len(lenguages[isl1])):
            if nsl1%2 == 0:
                lista_df_spoken_languages.append(lenguages[isl1][nsl1])
        lenguages[isl1] = lista_df_spoken_languages[::]

In [29]:
#eliminando la columna spoken_languages del df original
movies= movies.drop(['spoken_languages'], axis=1)

In [30]:
#concatenando los df
movies = pd.concat([movies,lenguages], axis=1)

<mark>#Valores Nulos revenue y budget

In [31]:
#sustituyendo los valores nulos por 0
movies['revenue'] = movies['revenue'].fillna(0)
movies['budget'] = movies['budget'].fillna(0)

<mark>#valores nulos del campo release date deben eliminarse

In [32]:
#eliminando valores nulos
movies = movies.dropna(subset=['release_date'])
movies['release_date'].isnull().any()

False

<mark>De haber fechas, deber√°n tener el formato AAAA-mm-dd, adem√°s deber√°n crear la columna release_year donde extraer√°n el a√±o de la fecha de estreno.

In [33]:
#insertando una columna en df con el largo de release_date
movies['len'] = movies['release_date'].str.len()

In [34]:
#eliminando los datos de release_date con largo menor a 10
movies.drop(movies[(movies['len'] < 10)].index, inplace=True)

In [35]:
#convirtiendo budget a float
movies['budget'] = movies['budget'].astype('float64')

In [36]:
#importando libreria datetime
from datetime import datetime, timedelta

#dando formato a columna release_date como fecha
movies['release_date'] = movies['release_date'].apply(lambda _: datetime.strptime(_,"%Y-%m-%d"))

In [37]:
#insertando columan con a√±o
movies['Year'] = movies['release_date'].dt.year

In [38]:
#calculando la columna return
movies['return'] = movies['revenue'] / movies['budget']

In [39]:
#reemplazando valores Nan
movies['return'].replace(np.nan,0, inplace=True)

In [40]:
#reemplazando valores inf
movies['return'].replace(np.inf,0, inplace=True)

<mark>Eliminar las columnas que no ser√°n utilizadas, video,imdb_id,adult,original_title,poster_path y homepage.

In [41]:
#Eliminando columnas del df
movies.drop(['video','imdb_id','adult','original_title','poster_path','homepage','len',
             'poster_path_belongs','backdrop_path_belongs','id_belongs'],axis=1, inplace= True)

In [42]:
#Ordenando columnas del df
movies = movies.loc[:,['id',
                                 'title',
                                 'name_belongs',
                                 'overview',
                                 'genres',
                                 'original_language',
                                 'spoken_languages',
                                 'popularity',
                                 'release_date',
                                 'Year',
                                 'production_companies',
                                 'production_countries',
                                 'runtime',
                                 'status',
                                 'tagline',
                                 'vote_average',
                                 'vote_count',
                                 'budget',
                                 'revenue', 
                                 'return']]

In [43]:
# cambiando el tipo de dato
movies = movies.astype({'id':'int', 'popularity':'float', 'budget':'float'})

In [44]:
df_final = movies.to_csv('df_final_movies.csv')

<mark>FUNCIONES API

def peliculas_idioma( Idioma: str ): Se ingresa un idioma (como est√°n escritos en el dataset, no hay que traducirlos!). Debe devolver la cantidad de pel√≠culas producidas en ese idioma.
                    Ejemplo de retorno: X cantidad de pel√≠culas fueron estrenadas en idioma

In [ ]:
def peliculas_idioma(idioma: str):

    

    for i in movies['spoken_laguages']:
        for x in movies['spoken_languages'][i]:


Idioma = peliculas_idioma(input("ingrese el idioma:"))